:root {
    --default-margin: 10px;
    --default-menu-width: 60%;
}
.wrapper {
    background-color: whitesmoke;
    height: var(--default-header-height);
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .home-link {
        width: 10%;
        margin-left: 2%;

        .logo-img {
            width: 100%;
            border-radius: 15px;
        }
    }
    .right {
        height: calc(var(--default-header-height) * 0.8);
        width: 90%;
        display: flex;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: end;

        .search {
            display: flex;

            justify-content: end;
            margin-right: var(--default-margin);
            height: 75%;
            width: 100%;
            input {
                width: 90%;
                border: none;
                border-radius: 10px;
                padding-right: 40px;
                padding-left: 5px;
                font-size: small;
            }
            .clear-btn {
                margin-right: var(--default-margin);
                position: absolute;
                right: 65px;
                top: 50%;
                transform: translateY(-50%);
                display: none;
            }
            .clear-btn-active {
                display: block;
            }
            .search-btn {
                position: absolute;
                right: 50px;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 10px;
                // display: none;
            }
        }
        .menu-btn {
            display: block;
            margin-right: var(--default-margin);
        }
        .side-bar {
            position: fixed;
            top: var(--default-header-height);
            background-color: rgba($color: #313435, $alpha: 0.5);
            width: 100%;
            height: 100%;
            display: none;
        }
        .side-bar-active {
            display: block;
        }
    }
}

.menu {
    width: var(--default-menu-width);
    height: 100%;
    margin-left: calc(100% - var(--default-menu-width));
    background-color: whitesmoke;

    .option {
        width: 100%;
        height: 30px;
        display: block;
        border-color: #465053;
        border-bottom: solid 1px;
        border-width: 2px;
        text-align: left;

        .content {
            position:absolute;
            left:calc(110% - var(--default-menu-width) )
        }
    }
    .login-btn {
        // height: 30px;
        background-color: green($color: #000000);
        // font-size: 50px;
        color: green($color: #000000);
    }
}
